@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

:root {
    --principal-color-100: rgb(19, 49, 95) ;
    --principal-color-70:  rgba(19, 49, 95, 0.70);

}


body {
    position: relative;
    height: 100vh;
    background-color: #E8EDF2;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Master Parent */
.card {
    margin-top: 5%;
    max-width: 300px;
    padding: 20px;
    border-radius: 22px;
    background-color: white;
    text-align: center;
    box-shadow:
        2.8px 2.8px 2.9px rgba(0, 0, 0, 0.004),
        6.7px 6.7px 7px rgba(0, 0, 0, 0.008),
        12.5px 12.5px 13.1px rgba(0, 0, 0, 0.014),
        22.3px 22.3px 23.5px rgba(0, 0, 0, 0.023),
        41.8px 41.8px 43.9px rgba(0, 0, 0, 0.035),
        100px 100px 105px rgba(0, 0, 0, 0.06);
}

.card-image {
    border-radius: 16px;
}

.card-image img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 1rem 0;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--principal-color-100);
    margin-bottom: 8px;
}

.card-content .card-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--principal-color-70);
    
}


/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
